<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="practica2Cliente.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <practica2Cliente.Properties.Settings>
            <setting name="practica2Cliente_localhost_p2" serializeAs="String">
                <value>http://localhost:9080/p22/services/p2</value>
            </setting>
            <setting name="practica2Cliente_localhost_ServicioAlmacen" serializeAs="String">
                <value>http://localhost:9080/practica2Almacen/services/ServicioAlmacen</value>
            </setting>
            <setting name="practica2Cliente_localhost_practica2BService"
                serializeAs="String">
                <value>http://localhost:8080/ode/processes/practica2B</value>
            </setting>
            <setting name="practica2Cliente_localhost_p1" serializeAs="String">
                <value>http://localhost:9080/p21/services/p1</value>
            </setting>
            <setting name="practica2Cliente_localhost_p3" serializeAs="String">
                <value>http://localhost:9080/p23/services/p3</value>
            </setting>
        </practica2Cliente.Properties.Settings>
    </applicationSettings>
</configuration>